@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Red+Hat+Mono&display=swap');
*{
    border: 0; 
    margin: 0; 
    box-sizing: border-box;
}
/* NAVBAR */
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}
.nav-img{
    width: 35px;
    height: auto;
    transition: 0.3s;
    user-select: none;
}
.nav-img:hover{
    width: 60px;
    padding-bottom: 5px;
    cursor: pointer;
}
.nav-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
}
.logo{
    font-size: 2.3rem;
    font-family: 'Permanent Marker', cursive;
    pointer-events: none;
    user-select: none;
    padding: auto 0px;
}
.nav-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}

/* DROP INFO */

.drop-info{
    width: 900px;
    height: 500px;
    margin: 0 auto;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.drop-title, .best-of-drop-title{
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
    pointer-events: none;
    user-select: none;
    margin-bottom: 50px;
}
.drop-text, .best-of-drop-text{
    font-size: 1rem;
    font-family: 'Red Hat Mono', monospace;
    text-align: justify;
    pointer-events: none;
    user-select: none;
}
.best-of{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    
}
.best-of-drop-title{
    font-size: 1.5rem;
}
.best-of-drop-text{
    text-align: center;
    
}
.best-of-drop {
    margin: auto 0px;
}
.img-clothing{
    width: 22%;
}
.best-of-drop{
    width: 500px;
}
.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

#best-of-drop-btn{
    width: 245px;
    height: 53px;
    background-color: #42488F;
    box-shadow: 1px 5px 4px black;
    border-radius: 30px;
    font-size: 24px;
    font-family: Permanent Marker;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color:white;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
#best-of-drop-btn:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: #42488F;
    border: #42488F 1px solid;
    box-shadow: 3px 10px 10px black;
    transform: scale(1.03);
}
/*SHOP*/
hr{
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
}
.main-shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.main-shop-title{
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
    pointer-events: none;
    user-select: none;
    margin-bottom: 0;
}   
.main-shop-content{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 1200px;

}
.main-shop-content-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-shop-item-title{
    font-size: 1rem;
    font-family: 'Permanent Marker', cursive;
    pointer-events: none;
    user-select: none;
}
.main-shop-item-value{
    font-family: 'Pattaya', sans-serif;
}
.main-shop-item-title, .main-shop-item-value{
    margin-top: -15px;
    padding-bottom: 5px;
}
